#h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    width: 100%;
    color: rgb(255, 0, 0);
    text-align: center;
  }
  
  .box {
    background-color: #ffffff;    
    padding: 0px;
    border-radius: 0px;
    margin:0px;
    border: 1px solid red;
  }
  
  #h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    color: rgb(255, 0, 0);
    text-align: left;
  }
  
  pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .lista {
    text-align: left;
  }
  
  body {
    background-color: rgba(255, 127, 80, 0.37);
  }
  
  .button {
    top:50%;
    background-color:red;
    color: #fff;
    border:none;
    border: radius 16px;
  }
  
  .header {
    padding: 15px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table; 
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;  
  }
  
  .col-1 {
    width: 8.33%;
    float: left
  }
  
  .col-2 {
    width: 16.66%;
    float: left
  }
  
  .col-3 {
    width: 25%;
    float: left
  }
  
  .col-4 {
    width: 33.33%;
    float: left
  }
  
  .col-5 {
    width: 41.66%;
    float: left
  }
  
  .col-6 {
    width: 50%;
    float: left
  }
  
  .col-7 {
    width: 58.33%;
    float: left
  }
  
  .col-8 {
    width: 66.66%;
    float: left
  }
  
  .col-9 {
    width: 75%;
    float: left
  }
  
  .col-10 {
    width: 83.33%;
    float: left
  }
  
  .col-11 {
    width: 91.66%;
    float: left
  }
  
  .col-12 {
    width: 100%;
    float: left
  }
  
  
  @media only screen and (max-width: 768px) {
  
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }